.Container {
  max-width: 1170px;
  margin: 0 auto;
  margin-top: 20px;
  padding: 15px;
  max-width: max-content;
  border-radius: 5px;

  text-align: center;
  background: rgb(238, 174, 202);
  background: linear-gradient(
    90deg,
    rgba(238, 174, 202, 1) 0%,
    rgba(167, 183, 201, 0.3785714969581583) 0%
  );
}

p {
  margin: 0;
  padding: 0;
}

h2 {
  margin: 0;
  margin-bottom: 15px;
  text-align: center;
}
